In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('ProdMecânico.xlsx')
df.tail(5)

,Data,Líder,Mecânico,Cliente,Interna,Perdidas,Placa: Moto Problemática,Motivos e Quantidades Motos Perdidas,Motivo Perdidas,Quantidade
103,2025-04-22,Maxsuel Conceição,ROBSON VICTOR AHID NUNES PEREIRA,6,1,0,0,0,NaN,NaN
104,2025-04-23,Maxsuel Conceição,WANDERSON BARROSO COSTA,7,0,1,0,Iot. TAJ9C98,NaN,NaN
105,2025-04-22,Maxsuel Conceição,ROBSON VICTOR AHID NUNES PEREIRA,7,0,0,0,0,NaN,NaN
106,2025-04-24,Maxsuel Conceição,RAILSON DA CUNHA SILVA,8,0,0,0,...,NaN,NaN
107,2025-04-22,Maxsuel Conceição,RAILSON DA CUNHA SILVA,9,1,0,0,0,NaN,NaN

In [26]:
df_jb = df[df['Líder'] == 'João Belo ']
df_jb_total_cliente = df_jb['Cliente'].sum()
print(f'Total de Motos Clientes - Quadrante I (João Belo): {df_jb_total_cliente}')

df_jb_total_interna = df_jb['Interna'].sum()
print(f'Total de Motos Interna - Quadrante I (João Belo): {df_jb_total_interna}')

print(f'Total de Manutenções Realizadas - Quadrante I : {df_jb_total_cliente+df_jb_total_interna}')

df_jb_mec_presente = len(df_jb)
print(f'Total de Mecãnicos Presentes - Quadrante I : {df_jb_mec_presente}')



print(f'Produtividade Quadrante I: {(df_jb_total_cliente+df_jb_total_interna)/df_jb_mec_presente}')

Total de Motos Clientes - Quadrante I (João Belo): 109
Total de Motos Interna - Quadrante I (João Belo): 21
Total de Manutenções Realizadas - Quadrante I : 130
Total de Mecãnicos Presentes - Quadrante I : 29
Produtividade Quadrante I: 4.482758620689655

In [28]:
df_ji = df[df['Líder'] == 'Jamerson Igor ']
df_ji_total_cliente = df_ji['Cliente'].sum()
print(f'Total de Motos Clientes - Quadrante IV (Jsmerson Igor): {df_ji_total_cliente}')

df_ji_total_interna = df_ji['Interna'].sum()
print(f'Total de Motos Interna - Quadrante I (João Belo): {df_ji_total_interna}')

print(f'Total de Manutenções Realizadas - Quadrante I : {df_ji_total_cliente+df_ji_total_interna}')

df_ji_mec_presente = len(df_ji)
print(f'Total de Mecãnicos Presentes - Quadrante I : {df_ji_mec_presente}')

print(f'Produtividade Quadrante IV: {(df_ji_total_cliente+df_ji_total_interna)/df_ji_mec_presente}')

Total de Motos Clientes - Quadrante IV (Jsmerson Igor): 107
Total de Motos Interna - Quadrante I (João Belo): 12
Total de Manutenções Realizadas - Quadrante I : 119
Total de Mecãnicos Presentes - Quadrante I : 26
Produtividade Quadrante IV: 4.576923076923077